$lighttheme:#fff;
$theme:#E23744;
$head_color:#3D5894;
$cta_color: #623DCC;
$font: 'Poppins',
sans-serif;




*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background: url('https://images.unsplash.com/photo-1497034825429-c343d7c6a68f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(2px);
    width: 100vw;
    overflow-x: hidden !important;
}

.login_box {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $lighttheme;
    padding: 30px;
    box-shadow: 6px 6px 18px 5px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 6px 6px 18px 5px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 6px 6px 18px 5px rgba(0, 0, 0, 0.31);
    background-color: rgba(255, 255, 255, 0.055);

    h1 {
        color: $theme;
        font-size: 40px;
        border-bottom: 2px solid black;
        margin-bottom: 50px;
        font-family: $font;
        font-weight: 600;
    }

    .textbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
        font-size: 18px;
        padding: 8px 0;
        margin: 8px 0;
        border-bottom: 1px solid black;

        i {
            text-align: center;
            // float: left;
            width: 10%;
            color: $head_color;
        }

        input {
            border: none;
            outline: none;
            background: none;
            color: black;
            font-size: 18px;
            font-weight: 400;
            font-family: $font;
            width: 80%;
            margin: 0 10px;

            &::placeholder {
                color: black;
                text-indent: 3px;
            }
        }
    }

    .btn {
        width: 100%;
        background-color: $cta_color;
        color: white;
        padding: 5px;
        text-align: center;
        font-size: 18px;
        font-family: $font;
        outline: none;
        border: none;
        border-radius: 4px;
        margin: 20px 0 0 0;
        cursor: pointer;
    }
}