$theme:#E23744;
$head_color:#3D5894;
$cta_color: #623DCC;
$font: 'Poppins',
sans-serif;




*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    background-color: $theme;
    height: 100vh;
    overflow: hidden;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.heading {
    color: $head_color;
    font-size: 36px;
    font-family: $font;
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    letter-spacing: 2px;
}

.preference_box {
    width: 100%;
    height: 40vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .non_veg_container {
        background-color: white;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .non_veg_box {
            width: 100px;
            height: 100px;
            border: 3px $theme solid;
            border-radius: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.514));

            &:hover {
                filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.514));
                cursor: pointer;
                transition: .2s ease;
                width: 105px;
            }

            .non_veg_circle {
                background-color: $theme;
                border-radius: 50%;
                width: 40px;
                height: 40px
            }

        }

        .non_veg_subtitle {
            margin-top: 20px;
            font-family: $font;
            font-weight: 300;
        }
    }

    .veg_container {
        background-color: white;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .veg_box {
            width: 100px;
            height: 100px;
            border: 3px #15DA25 solid;
            border-radius: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            filter: drop-shadow(5px 6px 3px rgba(0, 0, 0, 0.514));

            &:hover {
                filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.514));
                cursor: pointer;
                transition: .2s ease;
                width: 105px;
            }

            .veg_circle {
                background-color: #15DA25;
                border-radius: 50%;
                width: 40px;
                height: 40px
            }
        }

        .veg_subtitle {
            margin-top: 20px;
            font-family: $font;
            font-weight: 300;
        }
    }
}


.non_veg_box:hover,
.veg_box:hover {
    cursor: pointer;
    width: 120px;
}

.pattern_prop {
    position: absolute;
    right: 0;
    bottom: -4px;
    overflow: hidden;
}

.spoon_prop {
    position: absolute;
    bottom: 10px;
    left: 0;
    overflow: hidden;
}