$lighttheme:#fff;
$theme:#E23744;
$head_color:#3D5894;
$cta_color: #623DCC;
$font: 'Poppins',
sans-serif;




*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    background-color: black;
    // height: 100vh;
    // overflow: hidden;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    color: white;
    padding-bottom: 10px;
}

.head_image {
    width: 100%;
    height: 40vh;
    max-height: 40vh;
    text-align: center;

    .top_image {
        max-width: 100%;
        max-height: 100%;
    }
}

.recipe_head,
.diet_label_heading {
    width: 100%;
    font-family: $font;
    padding: 5px 0px 5px 20px;
    color: gray;
    // background: red;
    font-size: 30px;
}

.recipe_list {
    // background: green;

    .recipe {

        margin: 5px 0 20px 50px;
        font-family: $font;
        border-radius: 5px 0px 0px 5px;
        color: rgb(197, 194, 194);
        font-size: 14px;
        background: rgb(66, 65, 65);
        padding: 10px;
        text-transform: capitalize;
    }
}

.source {
    font-family: $font;
    font-weight: 300;
    font-size: 12px;
    margin: 0px 10px;
    color: rgb(236, 186, 186);
}


.menu_bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: $theme;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    transition: bottom 0.3s ease;
    // margin-bottom: 200px;

    .search_link_container,
    .explore_link_container {
        width: 50%;
        // background-color: rgba(255, 253, 253, 0.171);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fa-compass,
    .fa-search {
        color: $lighttheme;
        font-size: 32px;
    }
}