$theme:#E23744;
$head_color:#3D5894;
$cta_color: #623DCC;
$font: 'Poppins',
sans-serif;




*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    background-color: black;
    // height: 100vh;
    // overflow: hidden;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    color: white;
}

.head_image {
    width: 100%;
    height: auto;
    max-height: 40vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.recipe_head,
.diet_label_heading {
    width: 100%;
    font-family: $font;
    padding: 5px 0px 5px 20px;
    color: gray;
    // background: red;
    font-size: 30px;
}

.recipe_list,
.diet_label_list {
    // background: green;

    .recipe,
    .diet_label {

        margin: 5px 0 20px 50px;
        font-family: $font;
        border-radius: 5px 0px 0px 5px;
        color: rgb(197, 194, 194);
        font-size: 18px;
        background: rgb(66, 65, 65);
        padding: 20px;
    }
}

.source {
    font-family: $font;
    font-weight: 300;
    font-size: 12px;
    margin: 10px;
    color: rgb(197, 194, 194);
}