$lighttheme:#fff;
$theme:#E23744;
$head_color:#3D5894;
$cta_color: #623DCC;
$font: 'Poppins',
sans-serif;




*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background: black;
    width: 100vw;
    overflow-x: hidden !important;
}

.search_box_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 10px;
    position: relative;
}


// .close_icon {
//     width: 30px;
//     height: 30px;
//     background-color: pink;
//     position: absolute;
//     top: 1%;
//     right: 10px;
// }


.fa-search,
.fa-times {
    color: rgb(56, 55, 55);
    font-size: 22px;
}

.fa-times {
    opacity: 0;
}

.search_icon,
.close_icon {
    border: none;
    outline: none;

    align-items: center;
    display: flex;
    justify-content: center;
    width: 9%;
    height: 40px;
    background: rgb(24, 23, 23);
}

.search_icon {
    border-radius: 5px 0px 0px 5px;
}

.close_icon {
    border-radius: 0px 5px 5px 0px;
}

.search_box::placeholder {
    color: rgb(105, 102, 102);
    text-indent: 2px;
}

.search_box {
    width: 92%;
    height: 40px;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-family: $font;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    color: rgb(177, 169, 169);
    background: rgb(24, 23, 23);
}





.result_box {
    height: auto;
    // background: gray;
}

.result {
    border-radius: 10px;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    height: 100px;
    background: rgb(66, 65, 65);
    display: flex;
    justify-content: start;
    align-items: center;

    .result_image {
        width: 80px;
        height: 80px;

        img {
            height: 100%;
            border-radius: 10px;
            opacity: .8;
            width: 100%;
            object-fit: cover;
        }
    }

    .result_label {
        margin-left: 20px;

        .result_label_text {
            font-family: $font;
            font-weight: 400;
            font-size: 14px;
            color: rgb(212, 207, 207);
            text-transform: capitalize;
        }

        .calories,
        .yield {
            font-size: 14px;
            font-weight: 300;
            font-family: $font;
            color: rgb(161, 159, 159);
        }
    }
}

.result {
    animation: resultanimation ease .4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;

    @keyframes resultanimation {
        0% {
            opacity: 0;
            transform: translate(0px, -25px);
        }

        100% {
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }
}




.menu_bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: $theme;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    transition: bottom 0.3s ease;
    // margin-bottom: 200px;

    .search_link_container,
    .explore_link_container {
        width: 50%;
        // background-color: rgba(255, 253, 253, 0.171);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fa-compass,
    .fa-search {
        color: $lighttheme;
        font-size: 32px;
    }
}