*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background: black;
  width: 100vw;
  overflow-x: hidden !important;
}

.search_box_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  padding: 10px;
  position: relative;
}

.fa-search,
.fa-times {
  color: #383737;
  font-size: 22px;
}

.search_icon,
.close_icon {
  border: none;
  outline: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9%;
  height: 40px;
  background: #181717;
}

.search_icon {
  border-radius: 5px 0px 0px 5px;
}

.close_icon {
  border-radius: 0px 5px 5px 0px;
}

.search_box::-webkit-input-placeholder {
  color: #696666;
  text-indent: 10px;
}

.search_box:-ms-input-placeholder {
  color: #696666;
  text-indent: 10px;
}

.search_box::-ms-input-placeholder {
  color: #696666;
  text-indent: 10px;
}

.search_box::placeholder {
  color: #696666;
  text-indent: 10px;
}

.search_box {
  width: 92%;
  height: 40px;
  border: none;
  outline: none;
  padding: 5px 8px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
  color: #b1a9a9;
  background: #181717;
}

.result_box {
  height: auto;
}

.result {
  border-radius: 10px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  height: 100px;
  background: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result .result_image {
  width: 80px;
  height: 80px;
}

.result .result_image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.result .result_label {
  margin-left: 20px;
}

.result .result_label .result_label_text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  text-transform: capitalize;
}

.result {
  -webkit-animation: resultanimation ease .4s;
          animation: resultanimation ease .4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes resultanimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, -25px);
            transform: translate(0px, -25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes resultanimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, -25px);
            transform: translate(0px, -25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
/*# sourceMappingURL=searchstyle.css.map */